* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: none;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}

body {
  font-family: "PT Sans", sans-serif !important;
}

.section__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 67px;
}

.section__list h1 {
  width: 610px;
  height: 119px;
  top: 190px;
  left: 100px;
  font-size: 52px;
  font-weight: 600;
  line-height: 65px;
  text-align: left;
  color: #363738;
  margin-bottom: 40px;
}

.section__list p {
  width: 525px;
  height: 66px;
  top: 349px;
  left: 100px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #6b6b6c;
  margin-bottom: 40px;
}

.section__list h3 {
  width: 135px;
  height: 17px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #363738;
  border-bottom: 3px solid #ffce50;
  padding-bottom: 25px;
}

.section__list img {
  width: 635px;
  height: 505px;
}

.section__list-styl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 80px 56px 80px;
  border: 0px solid rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin-bottom: 67px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1490196078);
}

.section__list-styl h2 {
  width: 228px;
  height: 48px;
  top: 837px;
  left: 180px;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  color: #363738;
  margin-bottom: 16px;
  margin-top: 24px;
}

.section__list-styl p {
  width: 225px;
  height: 65px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #6b6b6c;
}

.section {
  border-left: 1px solid #d7d7dd;
  padding-left: 64px;
}

.section__list-styl-block {
  position: relative;
  width: 1240px;
  height: 452.5px;
  background-image: url(../images/back_img.png);
  margin-bottom: 100px;
}

.section__list-styl-block h4 {
  position: absolute;
  top: 178px;
  left: 90px;
  width: 362px;
  height: 109px;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  color: #ffffff;
}

.section__list-styl-block-lorem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 66px;
  margin-right: 142px;
  margin-bottom: 120px;
}

.section__list-styl-block-lorem-ipsum .section__list-styl-block-lorem-ipsum-dolor {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 62px;
}

.section__list-styl-block-lorem-ipsum .section__list-styl-block-lorem-ipsum-dolor h5 {
  width: 327px;
  height: 21px;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  color: #363738;
  margin-bottom: 16px;
}

.section__list-styl-block-lorem-ipsum .section__list-styl-block-lorem-ipsum-dolor p {
  width: 291px;
  height: 41px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #6b6b6c;
}

.main div h3 {
  width: 687px;
  height: 49px;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  color: #363738;
  margin-bottom: 32px;
}
.main div p {
  height: 41px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #6b6b6c;
  margin-bottom: 56px;
}

.main__style {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.main__section {
  width: 393px;
  height: 440px;
  border: 0px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1215686275);
  display: flex;
  justify-content: space-between;
  margin-bottom: 212px;
}

.main__section div div {
  padding-top: 24px;
  padding-right: 34px;
  padding-left: 32px;
}

.main__section div div h4 {
  width: 327px;
  height: 21px;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  color: #363738;
  margin-bottom: 16px;
}

.main__section div div p {
  height: 41px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #6b6b6c;
}

.main__section div div h5 {
  width: 92px;
  height: 17px;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.6px;
  text-align: left;
  color: #363738;
  border-bottom: 3px solid #ffce50;
  padding-bottom: 22px;
  margin-top: -32px;
  width: 86px;
}

.tabl__list {
  position: relative;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  width: 1239px;
  height: 917px;
  background-color: #0b7572;
  padding: 85px 67px 85px 81px;
}

.tabl__list-styl h2 {
  width: 477px;
  height: 109px;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  color: #ffffff;
}

.tabl__list-styl-section {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 28px 32px 40px 32px;
  width: 652px;
  height: 747px;
  margin-left: -20px;
}

.tabl__list-styl-section-logo {
  display: flex;
  justify-content: space-between;
  width: 588px;
  border: 1px;
  border-bottom: 2px solid #d7d7dd;
  padding-top: -220px;
  margin-bottom: 32px;
}

.tabl__list-styl-section .tabl__list-styl-section-logo .btf {
  width: 274px;
  font-size: 11px;
  font-weight: 400;
  line-height: 16.5px;
  color: #6b6b6c;
}

.tabl__list-styl-section .list {
  width: 588px;
}

.tabl__list-styl-section .list .btf-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
  background-color: #0B7572;
  height: 45px;
  padding-left: 36px;
  padding-right: 36px;
}

.tabl__list-styl-section .list .bte {
  display: flex;
  justify-content: space-between;
  margin-top: -70px;
  margin-bottom: 98px;
  border-bottom: 1px solid #D7D7DD;
}

.tabl__list-styl-section .list .bte h6 {
  width: 112px;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 18.9px;
  text-align: left;
  margin-bottom: 12px;
}

.tabl__list-styl-section .list .bte h2 {
  width: 134px;
  height: 14px;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 18.9px;
  text-align: left;
}

.tabl__list-styl-section .list .bte h4 {
  width: 124px;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 18.9px;
  text-align: left;
  margin-bottom: 12px;
}

.tabl__list-styl-section .list .bte img {
  margin-right: 4px;
}

.tabl__list-styl-section .list .bte .erp h5 {
  width: 117px;
  height: 14px;
  font-family: "PT Sans";
  font-size: 11px;
  font-weight: 400;
  line-height: 18.9px;
  text-align: left;
}

.container__nov h3 {
  width: 687px;
  height: 49px;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  color: #363738;
  margin-bottom: 48px;
}

.nov__section {
  display: flex;
  align-items: center;
  gap: 56px;
  width: 1183px;
  height: 245px;
  top: 3921px;
  left: 149px;
  margin-left: 49px;
  padding: 32px 132px 32px 96px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1215686275);
  margin-bottom: 24px;
}

.nov__section div h4 {
  width: 268px;
  height: 20px;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  text-align: left;
  color: #363738;
  margin-bottom: 28px;
}

.nov__section div h4 {
  padding-bottom: 44px;
  border-bottom: 3px solid #ffce50;
}

.nov__section div p {
  width: 568px;
  height: 88px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #6b6b6c;
}

.container__nov h5 {
  width: 687px;
  height: 49px;
  top: 4824px;
  left: 100px;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  color: #363738;
  margin-top: 120px;
  margin-bottom: 90px;
}

.nov__section-styl .nov__section-list-img {
  margin-left: 10px;
  margin-bottom: 60px;
}

.nov__section-styl .nov__section-list-img_last {
  margin-left: 10px;
  margin-bottom: 59px;
  margin-top: 10px;
}

.nov__section-styl .nov__section-list-img_last-nov {
  margin-left: 10px;
  margin-bottom: 68px;
  margin-top: 10px;
}

.nov__section-styl {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: 46px;
}

.nov__section-styl-nov {
  display: flex;
  gap: 80px;
}

.nov__section-list {
  align-items: center;
  margin-bottom: 100px;
  border-right: 1px solid #d7d7dd;
  padding-right: 60px;
}

.nov__section-styl .selection {
  border: none;
}

.nov__section-list .nov__section-list_titl {
  border-right: none;
}

.nov__section-list img {
  text-align: center;
  margin-left: 50px;
  margin-bottom: 32px;
}

.nov__section-list h2 {
  width: 184px;
  height: 21px;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
  color: #363738;
  margin-bottom: 14px;
}

.nov__section-list p {
  width: 184px;
  height: 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #6b6b6c;
}

.container__style {
  margin-bottom: 100px;
}
.container__style h2 {
  width: 687px;
  height: 49px;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  color: #363738;
  margin-bottom: 72px;
}

.sectionss {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 24px;
}

.container__style-list {
  display: flex;
  align-items: center;
  gap: 40px;
  width: 605px;
  height: 210px;
  top: 5651px;
  left: 100px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-left-color: #0b7572;
  border-right: 50px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  padding: 32px 172px 40px 32px;
  border-left: 51px solid #0b7572;
}

.container__style-list h3 {
  width: 165px;
  height: 20px;
  top: 5698px;
  left: 361px;
  gap: 0px;
  opacity: 0px;
  font-family: Exo 2;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #363738;
  margin-bottom: 12px;
}

.container__style-list p {
  width: 172px;
  height: 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #6b6b6c;
  margin-bottom: 16px;
}

.container__style-list hr {
  width: 86px;
  height: 1px;
  background-color: #ffce50;
  margin-bottom: 32px;
  border: none;
}

.container__style-list .iconss {
  display: flex;
  align-items: center;
  gap: 20px;
}

.container-select {
  margin-top: 30px;
}
.container-select h2 {
  width: 687px;
  height: 49px;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  color: #363738;
  margin-bottom: 94px;
}

.minifix {
  display: flex;
  justify-content: space-between;
}

.container-select-list {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-bottom: 44px;
}

.container-select-list div p {
  width: 172px;
  height: 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #6b6b6c;
  margin-bottom: 8px;
  cursor: pointer;
}

.container-select-list div span {
  width: 165px;
  height: 20px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #363738;
  cursor: pointer;
}

.INN {
  width: 794px;
  height: 383px;
  border-radius: 5px;
  background-color: #f9f9fb;
  margin-bottom: 100px;
  padding: 40px 72px 56px 48px;
  margin-top: -10px;
}

.INN div {
  display: flex;
  align-items: center;
  gap: 56px;
  margin-bottom: 35px;
  border-bottom: 2px solid #e9eaf2;
  padding-bottom: 16px;
}
.INN div p {
  width: 175px;
  height: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #6b6b6c;
}
.INN div span {
  width: 443px;
  height: 15px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  color: #363738;
}

.container__youtub {
  width: 1245px;
  height: 667px;
  margin-bottom: 100px;
}

.INN .inn {
  border-bottom: none;
}

footer {
  background-color: #0b7572;
  padding-top: 59px;
}

.footer {
  min-width: 1000px;
  display: flex;
  margin: auto;
  gap: 180px;
}
.footer h2 {
  width: 176px;
  height: 90px;
  font-size: 60px;
  font-weight: 500;
  line-height: 90px;
  letter-spacing: 0.16em;
  font-family: sans-serif;
  text-align: left;
  color: #ffffff;
}
.footer p {
  width: 133px;
  height: 30px;
  font-family: "Exo 2";
  font-size: 13px;
  font-weight: 600;
  line-height: 19.5px;
  letter-spacing: 0.16em;
  color: #ffffff;
  margin-bottom: 15px;
}

footer .last {
  display: flex;
  gap: 97px;
}

.footer .social-media img {
  margin-bottom: 32px;
  margin-right: 15px;
}

.footer h3 {
  width: 151px;
  height: 27px;
  font-family: "Exo 2";
  font-size: 13px;
  font-weight: 600;
  line-height: 19.5px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 32px;
}

.container__footer .footer .social-media button h4 .table_img {
  display: flex;
  border: none !important;
}

.btn {
  font-size: 14px;
  border: none;
  width: 235px;
  padding: 11px 8px 11px 8px;
  background: #FF9619;
  display: flex;
  gap: 14px;
  align-items: center;
  color: #ffffff;
}

.btr {
  text-align: center;
  margin-top: 60px;
  padding-bottom: 29px;
}
.btr a {
  text-decoration: none;
  color: #fff;
  margin-bottom: 29px;
}/*# sourceMappingURL=style.css.map */